@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    user-select: none;
    overflow-x: hidden;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(88, 28, 135, 0.2); /* Dark purple transparent */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #a855f7, #7c3aed); /* Purple gradient */
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #facc15; /* Yellow on hover */
    background-clip: padding-box;
}

/* Firefox support */
* {
    scrollbar-width: thin;
    scrollbar-color: #a855f7 rgba(88, 28, 135, 0.1);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #facc15;
}